.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

h2{
    margin-top: 30px;
}
.first{
    margin: 60px 0 10px 0;
}
input{
    width: 200px;
    color: blue;
    padding: 10px;
    border: 1px solid black;
}
select{
    margin-left: 10px;
    padding: 10px;
    color: orange;
}