@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Ubuntu:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #5FA2CF;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}


